<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5" *ngFor="let educationDetails of educationDetailsModel?.educationDetails">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{educationDetails.universityName}}</h3>
                <div class="subheading mb-3">{{educationDetails.specialization}}</div>
                <div>{{educationDetails.department}}</div>
                <p> GPA : {{educationDetails.gpa}}</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"> {{educationDetails.fromDate}} - {{educationDetails.toDate}} </span></div>
        </div>
    </div>
</section>