<section class="resume-section" id="experience">
    <div class="resume-section-content"  >
        <h2 class="mb-5">Experience</h2>
        <div *ngFor="let project of projectModel?.projects">
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">{{project.role}}</h3>
                    <div class="subheading mb-3">{{project.company}}</div>
                    <p>{{project.summary}}</p>
                    <p><b>STACK:</b> {{project.stack}}</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">{{project.dateFrom}} - {{project.dateTo}}</span></div>
            </div>
        </div>

    </div>
</section>