<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy playing sports.I am higly insterested in latest buzz about technology and bug of reading technical aspects.I do see my slef as an aspiring data scientist in future</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
    </div>
</section>