<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Microsoft Developer
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                On the Spot best performer of the year - 2017 at TCS
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                1
                <sup>st</sup>
                Place - GITAM youth assembly , at GITAM , Vizag
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2
                <sup>nd</sup>
                Place - GITAM University - Hackathon 2015 
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2
                <sup>nd</sup>
                Place - National Institute of Warangal - Emerging Tech Competition 2016
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                2
                <sup>st</sup>
                Place - Elecution - Police Commemoration Day - 2008
            </li>
        </ul>
    </div>
</section>